<!--  -->
<section class="h-100">
  <h3 class="color-second mb-2"><i class="fa fa-id-card-o icon mr-2"></i>CV</h3>
  <div class="progress mb-4 " style="height: 2px;">
    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <!-- Start info -->
  <div class="row mx-5 ">
    <div  class="col-12 shadow min-h rounded pointer projet">
      <img class="avatar my-2 w-100" src="assets/images/img-cv.svg"  />
    </div>
  </div>
  <!-- End info -->

</section>
