<section>
  <h3 class="color-second mb-2 "><i class="fa fa-id-card icon mr-2"></i>Contact</h3>
  <!--  progress bar -->
  <div class="progress mb-4 " style="height: 2px;">
    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100"></div>
  </div>
  <!-- Start info de projet -->
  <div class="row">
    <div class="col-md-6">
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>Site : </b>
        <br><span class="ml-4">{{contact.site}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>E-mail : </b>
        <br><span class="ml-4">{{contact.email}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>Linkedin : </b>
        <br><span class="ml-4">{{contact.linkedin}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>Git : </b>
        <br><span class="ml-4">{{contact.git}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>Problem solving (<span class="color-second">Code</span>) : </b>
        <br><span class="ml-4">{{contact.psCode}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>N°Téléphone : </b>
        <br><span class="ml-4">{{contact.phone}}</span> <br>
      </h6>
      <h6 class="my-3">
        <i class="fa fa-angle-right icon-tash color-main mr-2"></i><b>Adresse : </b>
        <br><span class="ml-4">{{contact.adresse}}</span> <br>
      </h6>
      <!--      </ng-container>-->
    </div>
    <div class="col-md-6 d-flex  justify-content-center">
      <img class=" w-75 animate__animated animate__fadeInRight animate__slower" src="{{contact.map}}" alt="">
    </div>
  </div>
  <!-- End info de projet -->

</section>

